@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.richshadow {
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.4);
}
.richshadow:hover{
  box-shadow: 0px 0px 15px 0px rgba(245, 184, 92, 0.4);
}
.richtrans{
  transition: all ease 0.5s;
}
.richtrans:hover{
  transform: translateY(-5px);
}